.landing {
  display:flex;
  flex-direction:column;
  justify-content: center;
  width: 350px;
  height: 450px;
  background-color: rgba(115, 117, 115, 0.775);
  border-radius: 55px;
  border: 2px;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 40%;
  padding: 0px;
}
.img {
  border-radius: 4px;
  height: 256;
  width: 256;
  }
.title {
  margin: 0;
  color: crimson;
  font-size: 50px;
  font-weight: 900;
}
