.title {
  margin-top: 0;
  color:white;
}
.ul {
  background-color:  rgba(115, 117, 115, 0.187);
  text-align: center;
  display: inline;
  padding: 3px;
  list-style-type:none;
  font-weight: lighter;
  width: 27px;
  color:white;
}

.PrevNext {
  background-color:  rgba(115, 117, 115, 0.187);
  text-align: center;
  display: inline;
  padding: 3px;
  list-style-type:none;
  font-weight: lighter;
  margin: 8px;
  width: 48px;
  color:white;
}


.ulactive {
  background-color:  rgba(171, 236, 171, 0.843);
  text-align: center;
  display: inline;
  padding: 3px;
  font-weight: lighter;
  list-style-type:none;
  color: rgb(203, 13, 13);
}

.paginationcontainer {
  display: flex;
  text-align: center;
  padding-left: 0%;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(115, 117, 115, 0.187);
  border-radius: 15px;
  border-color: rgb(134, 51, 23);
  height:fit-content;
  margin: 10px;
  list-style: none;
  list-style-type:none;
}